@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

.wrapper {
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding: 152px 0 0 345px;
}
.top {
	background: url("../img/Line3.png") left 50px no-repeat;
	padding-bottom: 2px;
	font-weight: 900;
	font-size: 46px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 38px;
}
.top p {
	margin-top: 20px;
}
h1 {
}
.date {
	margin-top: 26px;
	/* min-width: 258px; */
	color: #787a80;
}
.date-month {
	display: inline-block;
	padding-left: 23px;
	background: url("../img/Vector.png") left center/14px 14px no-repeat;
}
.date-time {
	display: inline-block;
	background: url("../img/Union.png") left center/16px 16px no-repeat;
	padding-left: 23px;
	margin-left: 24px;
}
.glasses {
	margin-top: 40px;
}
.text {
	margin-top: 60px;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.another-text {
	margin-top: 24px;
}
.another-text p {
	margin-bottom: 35px;
	line-height: 1.6;
	color: #424551;
}
.especial-text {
	background: url("../img/Rectangle 268.png") left top no-repeat, url("../img/Rectangle 268.png") 18px top no-repeat;
	margin-top: 48px;
	padding-left: 58px;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.some-text {
	margin-top: 48px;
	line-height: 1.6;
	color: #424551;
}
.list {
	margin-top: 24px;
}
.list li {
	background: url("../img/Vector2.png") left center no-repeat;
	margin-top: 4px;
	padding-left: 32px;
}
.last-text {
	margin-top: 24px;
}
